<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataAccess" type="DataAccess.Config.DataAccessSection, DataAccess"/>
  </configSections>

  <DataAccess DbCommandFilePath="XXXX\DbCommandFiles.xml"  DataBaseFilePath="xxxx\Database.xml" ExceptionLevel="Full" />
</configuration>